/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2022, 10:46:58 AM
    Author     : HoangMinh
*/
body
{
    background-image: url(https://i.pinimg.com/originals/1c/54/f7/1c54f7b06d7723c21afc5035bf88a5ef.png);
    background-size:  1920px 980px;
    background-position: 60% 100%; 
}

#search_form
{
    width: 20%;
    position: absolute;
    top: 10%;
    left: 20%;
}

#course
{
    position: absolute;
    top: 50%;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
    left: 10%;
>>>>>>> Stashed changes
=======
    left: 10%;
>>>>>>> Stashed changes
    text-align: center;
}

#paging
{
    position: absolute;
    top: 80%;
    left: 44%;
}



<<<<<<< Updated upstream
<<<<<<< Updated upstream



=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
